# Detecting outliers in our data

In [38]:
import pandas as pd 
import numpy as np 
from sklearn.neighbors import LocalOutlierFactor
import statsmodels.api as sm

In [39]:
df = pd.read_csv('2014_nba_data.csv')

In [ ]:
df.info(verbose=True)

In [40]:
df.head()

   SEASON_ID_x   TEAM_ID_x  ... DIS_DEFRATE_y DIS_ELO_y
0        22014  1610612745  ...           0.0       0.0
1        22014  1610612759  ...           0.0       0.0
2        22014  1610612740  ...           0.0       0.0
3        22014  1610612752  ...           0.0       0.0
4        22014  1610612760  ...           0.0       0.0

[5 rows x 111 columns]

In [ ]:
list(df.columns)

In [ ]:
unwanted_columns = [
    'MIN_y',
    'MIN_x',
    'BEF_AVG_PTS_x',
    'BEF_AVG_AST_x',
    'BEF_AVG_OREB_x',
    'BEF_AVG_DREB_x',
    'AFT_AVG_PTS_x',
    'AFT_AVG_AST_x',
    'AFT_AVG_OREB_x',
    'AFT_AVG_DREB_x',
    'GAME_PLAYED_x',
    'cPTS_x',
    'cAST_x',
    'cOREB_x',
    'cDREB_x',
    'cFGA_x',
    'cTO_x',
    'cFTA_x',
    'OFFRATE_x',
    'DEFRATE_x',
    'ELO_x',
    'DIS_PTS_x',
    'DIS_AST_x',
    'DIS_OREB_x',
    'DIS_DREB_x',
    'DIS_OFFRATE_x',
    'DIS_DEFRATE_x',
    'DIS_ELO_x',
    'SEASON_ID_y',
    'TEAM_ID_y',
    'TEAM_ABBREVIATION_y',
    'TEAM_NAME_y',
    'GAME_DATE_y',
    'MATCHUP_y',
    'SEASON_ID_x',
    'TEAM_ID_x',
    'TEAM_ABBREVIATION_x',
    'TEAM_NAME_x',
    'GAME_ID',
    'GAME_DATE_x',
    'MATCHUP_x',
    'BEF_AVG_PTS_y',
    'BEF_AVG_AST_y',
    'BEF_AVG_OREB_y',
    'BEF_AVG_DREB_y',
    'AFT_AVG_PTS_y',
    'AFT_AVG_AST_y',
    'AFT_AVG_OREB_y',
    'AFT_AVG_DREB_y',
    'GAME_PLAYED_y',
    'cPTS_y',
    'cAST_y',
    'cOREB_y',
    'cDREB_y',
    'cFGA_y',
    'cTO_y',
    'cFTA_y',
    'OFFRATE_y',
    'DEFRATE_y',
    'ELO_y',
    'DIS_PTS_y',
    'DIS_AST_y',
    'DIS_OREB_y',
    'DIS_DREB_y',
    'DIS_OFFRATE_y',
    'DIS_DEFRATE_y',
    'DIS_ELO_y'
]

In [ ]:
cols_of_interest = [x for x in list(df.columns) if x not in unwanted_columns]
clean_df = df[cols_of_interest]

In [ ]:
# check if all columns are indeed numeric
len(clean_df._get_numeric_data().columns) == len(clean_df.columns),len(clean_df.columns)

Ok now the data is cleaned. Assuming that input variables have a gaussian distribution, let's detect outliers.

In [ ]:
lof = LocalOutlierFactor()
yhat = lof.fit_predict(clean_df)
mask = yhat == -1

In [ ]:
clean_df[mask]