In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

Read csv file

In [2]:
df = pd.read_csv("annual_data/nba_season_2014_data.csv")
df.head()

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22014,1610612747,LAL,Los Angeles Lakers,21400003,2014-10-28,LAL vs. HOU,0,240,90,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22014,1610612740,NOP,New Orleans Pelicans,21400001,2014-10-28,NOP vs. ORL,1,240,101,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22014,1610612742,DAL,Dallas Mavericks,21400002,2014-10-28,DAL @ SAS,0,239,100,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22014,1610612749,MIL,Milwaukee Bucks,21400004,2014-10-29,MIL @ CHA,0,264,106,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22014,1610612744,GSW,Golden State Warriors,21400014,2014-10-29,GSW @ SAC,1,239,95,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Drop rows of all the first games of every team

In [3]:
df.drop(df[(df['GAME_PLAYED_x'] == 1) | (df['GAME_PLAYED_y'] == 1 )].index, inplace=True)
df.head()

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
16,22014,1610612765,DET,Detroit Pistons,21400017,2014-10-30,DET @ MIN,0,241,91,...,1.018145,1.058468,1490.000000,22.0,5.0,11.0,-9.0,0.216928,0.155831,0.000000
17,22014,1610612762,UTA,Utah Jazz,21400019,2014-10-30,UTA @ DAL,0,241,102,...,1.154734,1.166282,1490.000000,7.0,1.0,-4.0,3.0,0.095509,-1.248297,-0.287744
18,22014,1610612764,WAS,Washington Wizards,21400016,2014-10-30,WAS @ ORL,1,240,105,...,0.889831,1.069915,1490.000000,-11.0,-3.0,9.0,11.0,-0.147287,-0.098207,0.000000
20,22014,1610612758,SAC,Sacramento Kings,21400025,2014-10-31,SAC vs. POR,1,240,103,...,1.142241,0.959052,1510.000000,29.0,10.0,-2.0,-6.0,0.394669,0.036722,20.000000
21,22014,1610612759,SAS,San Antonio Spurs,21400024,2014-10-31,SAS @ PHX,0,239,89,...,1.263270,2.006369,1509.712256,18.0,0.0,0.0,2.0,0.107663,0.862205,-0.287744

Extract first 41 games (mid season) of every team

In [19]:
first_half = df[(df['GAME_PLAYED_x'] <= 41) | (df['GAME_PLAYED_y'] <= 41 )]
first_half

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
16,22014,1610612765,DET,Detroit Pistons,21400017,2014-10-30,DET @ MIN,0,241,91,...,1.018145,1.058468,1490.000000,22.000000,5.000000,11.000000,-9.000000,0.216928,0.155831,0.000000
17,22014,1610612762,UTA,Utah Jazz,21400019,2014-10-30,UTA @ DAL,0,241,102,...,1.154734,1.166282,1490.000000,7.000000,1.000000,-4.000000,3.000000,0.095509,-1.248297,-0.287744
18,22014,1610612764,WAS,Washington Wizards,21400016,2014-10-30,WAS @ ORL,1,240,105,...,0.889831,1.069915,1490.000000,-11.000000,-3.000000,9.000000,11.000000,-0.147287,-0.098207,0.000000
20,22014,1610612758,SAC,Sacramento Kings,21400025,2014-10-31,SAC vs. POR,1,240,103,...,1.142241,0.959052,1510.000000,29.000000,10.000000,-2.000000,-6.000000,0.394669,0.036722,20.000000
21,22014,1610612759,SAS,San Antonio Spurs,21400024,2014-10-31,SAS @ PHX,0,239,89,...,1.263270,2.006369,1509.712256,18.000000,0.000000,0.000000,2.000000,0.107663,0.862205,-0.287744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,22014,1610612742,DAL,Dallas Mavericks,21400631,2015-01-21,DAL @ MIN,1,241,98,...,1.009433,1.030965,1337.597992,-9.907143,-1.152381,1.391667,-2.947619,-0.111724,0.003176,-258.928642
625,22014,1610612745,HOU,Houston Rockets,21400636,2015-01-21,HOU @ GSW,0,241,113,...,1.113469,1.079563,1660.632939,7.688645,6.007326,-2.170330,3.558608,0.061993,0.083223,74.122374
636,22014,1610612757,POR,Portland Trail Blazers,21400639,2015-01-22,POR vs. BOS,0,239,89,...,1.026779,1.156545,1413.467893,-1.274299,2.605247,-0.186643,-2.224210,-0.038587,0.022841,-180.059427
648,22014,1610612738,BOS,Boston Celtics,21400649,2015-01-23,BOS @ DEN,1,240,100,...,1.033598,1.061435,1468.516690,-0.083333,-3.938095,1.727381,0.561905,0.008925,-0.079552,40.285294
649,22014,1610612758,SAC,Sacramento Kings,21400651,2015-01-23,SAC @ GSW,0,239,101,...,1.115702,1.114443,1668.531314,9.009524,7.408333,-1.066667,0.842857,0.063421,0.123756,254.863361

Define the DataFrame to be processed

In [23]:
clean_df = first_half

In [34]:
y = clean_df['PLUS_MINUS_x']
x1 = clean_df['DIS_ELO_x']
x2 = clean_df['HOME_COURT_x']
x3 = clean_df['DIS_OFFRATE_x']
x4 = clean_df['DIS_DEFRATE_x']
x5 = clean_df['DIS_PTS_x']
x6 = clean_df['DIS_AST_x']
x7 = clean_df['DIS_OREB_x']
x8 = clean_df['DIS_DREB_x']

x = np.column_stack((x1, x2, x3, x4, x5, x6, x7, x8))
# x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params

x1     0.045579
x2     2.306057
x3    24.317873
x4     2.148333
x5    -0.072916
x6    -0.030697
x7    -0.291896
x8     0.284938
dtype: float64

In [35]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:           PLUS_MINUS_x   R-squared (uncentered):                   0.185
Model:                            OLS   Adj. R-squared (uncentered):              0.174
Method:                 Least Squares   F-statistic:                              16.98
Date:                Thu, 28 Jan 2021   Prob (F-statistic):                    7.72e-23
Time:                        14:49:38   Log-Likelihood:                         -2386.1
No. Observations:                 607   AIC:                                      4788.
Df Residuals:                     599   BIC:                                      4824.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0456      0.008      6.040      0.000       0.031       0.060
x2             2.3061      0.713      3.236      0.001       0.906       3.706
x3            24.3179     11.517      2.111      0.035       1.698      46.937
x4             2.1483      2.620      0.820      0.413      -2.998       7.295
x5            -0.0729      0.081     -0.900      0.368      -0.232       0.086
x6            -0.0307      0.218     -0.141      0.888      -0.458       0.397
x7            -0.2919      0.257     -1.136      0.256      -0.797       0.213
x8             0.2849      0.177      1.614      0.107      -0.062       0.632
==============================================================================
Omnibus:                        5.925   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.052   Jarque-Bera (JB):                7.033
Skew:                          -0.117   Prob(JB):                       0.0297
Kurtosis:                       3.473   Cond. No.                     2.17e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.17e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Results: x1(DIS_ELO), x2(HOME_COURT) and x3(DIS_OFFRATE) are significant variables
Chosen model is to be fitted the 3 significant x variables
Resulting equation would be used to predict outcome of a game:
    - postiive --> team 1 wins
    - negative --> team 2 wins

In [33]:
# significant_x = np.column_stack((x1, x2, x3))
# chosen_model = sm.OLS(y, significant_x)
# results = chosen_model.fit()
# results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:           PLUS_MINUS_x   R-squared (uncentered):                   0.177
Model:                            OLS   Adj. R-squared (uncentered):              0.173
Method:                 Least Squares   F-statistic:                              43.39
Date:                Thu, 28 Jan 2021   Prob (F-statistic):                    2.09e-25
Time:                        14:48:06   Log-Likelihood:                         -2388.9
No. Observations:                 607   AIC:                                      4784.
Df Residuals:                     604   BIC:                                      4797.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0506      0.007      7.678      0.000       0.038       0.063
x2             2.2014      0.708      3.110      0.002       0.811       3.591
x3            16.1085      8.472      1.901      0.058      -0.530      32.747
==============================================================================
Omnibus:                        4.856   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.088   Jarque-Bera (JB):                5.662
Skew:                          -0.091   Prob(JB):                       0.0590
Kurtosis:                       3.436   Cond. No.                     1.59e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.59e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Extract 2nd half of season from DataFrame to predict outcomes of all games

In [6]:
second_half = df[(df['GAME_PLAYED_x'] > 41) & (df['GAME_PLAYED_y'] > 41 )]
second_half

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
610,22014,1610612754,IND,Indiana Pacers,21400617,2015-01-19,IND @ HOU,0,240,98,...,1.049528,1.044530,1580.810254,7.534262,0.261324,1.172474,-3.160859,0.054917,0.067137,159.771236
611,22014,1610612741,CHI,Chicago Bulls,21400620,2015-01-19,CHI @ CLE,0,242,94,...,1.074796,1.110475,1491.954552,-1.650987,-0.221835,-0.904762,-3.305459,-0.003931,0.047061,-75.604759
613,22014,1610612747,LAL,Los Angeles Lakers,21400622,2015-01-19,LAL @ PHX,0,240,100,...,1.084334,0.903411,1533.204714,6.633566,0.128920,-0.772938,0.178862,0.043416,-0.069226,126.475792
618,22014,1610612737,ATL,Atlanta Hawks,21400613,2015-01-19,ATL vs. DET,1,240,93,...,1.029925,0.928036,1483.404867,-5.439024,-4.707317,4.195122,0.268293,-0.061377,-0.178982,-199.041129
622,22014,1610612759,SAS,San Antonio Spurs,21400624,2015-01-20,SAS @ DEN,1,241,109,...,1.033295,1.065748,1476.098464,-0.077816,-3.425087,2.653891,-0.610918,-0.028010,0.094043,-85.715502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,22014,1610612755,PHI,Philadelphia 76ers,21401227,2015-04-15,PHI vs. MIA,0,238,101,...,1.035420,1.048939,1452.968706,2.691358,-0.654321,-2.839506,-0.901235,0.089955,0.042230,148.113346
1226,22014,1610612740,NOP,New Orleans Pelicans,21401223,2015-04-15,NOP vs. SAS,1,240,108,...,1.077284,1.069293,1671.322063,3.938272,2.271605,-1.641975,1.814815,0.006417,0.016542,133.168914
1227,22014,1610612749,MIL,Milwaukee Bucks,21401221,2015-04-15,MIL vs. BOS,0,240,100,...,1.030823,1.059460,1539.492386,3.506173,0.925926,0.518519,1.395062,0.008790,0.099604,48.089674
1228,22014,1610612753,ORL,Orlando Magic,21401224,2015-04-15,ORL @ BKN,0,241,88,...,1.032308,1.063132,1497.129613,2.197531,0.209877,0.333333,0.234568,0.021995,0.065841,137.786544
1229,22014,1610612744,GSW,Golden State Warriors,21401229,2015-04-15,GSW vs. DEN,1,239,133,...,1.028622,1.084484,1412.036128,-8.506173,-5.654321,2.024691,-2.037037,-0.078846,0.091216,-305.509038