In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

%matplotlib inline
style.use('seaborn')

Read "annual_nba_data.csv" file

In [5]:
master_data = pd.read_csv("annual_nba_data.csv")
master_data.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,EFG
0,22020,1610612766,CHA,Charlotte Hornets,22000175,2021-01-14,CHA @ TOR,L,240,108,...,14.0,30.0,44.0,32,11.0,5,18,15,-9.6,0.568966
1,22020,1610612761,TOR,Toronto Raptors,22000175,2021-01-14,TOR vs. CHA,W,242,111,...,13.0,27.0,40.0,33,13.0,6,17,16,9.6,0.568182
2,22020,1610612745,HOU,Houston Rockets,22000176,2021-01-14,HOU @ SAS,W,240,109,...,10.0,39.0,49.0,25,6.0,6,18,16,2.6,0.563953
3,22020,1610612743,DEN,Denver Nuggets,22000177,2021-01-14,DEN vs. GSW,W,240,114,...,10.0,40.0,50.0,29,11.0,5,13,23,14.8,0.516667
4,22020,1610612754,IND,Indiana Pacers,22000178,2021-01-14,IND @ POR,W,238,111,...,13.0,37.0,50.0,29,11.0,5,12,13,16.8,0.527174

Create a team dictionary to store all the different statistics for all teams

In [44]:
nba_teams = {
    'ATL': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'BKN': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'BOS': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'CHA': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'CHI': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'CLE': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'DAL': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'DEN': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'DET': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'GSW': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'HOU': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'IND': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'LAC': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'LAL': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'MEM': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'MIA': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'MIL': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'MIN': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'NOP': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'NYK': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'OKC': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'ORL': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'PHI': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'PHX': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'POR': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'SAC': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'SAS': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'TOR': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'UTA': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB': 0,'DIS_DB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 },
    'WAS': {'GAME_PLAYED': 0, 'BEF_AVG_PTS':0,'AFT_AVG_PTS':0,'cPTS':0,'cAST':0,'cOREB':0,'cDREB':0,
            'BEF_AVG_AST':0,'BEF_AVG_OREB':0, 'BEF_AVG_DREB':0,'AFT_AVG_AST':0,'AFT_AVG_OREB':0, 'AFT_AVG_DREB':0,
           'DIS_PTS' : 0,'DIS_AST' : 0, 'DIS_OREB' : 0,'DIS_DREB' : 0, 'OFFRATE':0, 'DEFRATE':0, "cFGA":0, "cTO": 0,
           "cFTA":0, "ELO": 1500 }
    
}

Determining the columns

In [7]:
master_data= master_data.sort_values(by = "GAME_DATE", ascending = True)
master_data.index = range(len(master_data))
master_data.head()
master_data.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'EFG'],
      dtype='object')

Change GAME_DATE to datetime type

In [8]:
master_data['GAME_DATE'] = pd.to_datetime(master_data['GAME_DATE'])
master_data = master_data.sort_values(by = "GAME_DATE", ascending = True)
master_data.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,EFG
0,22014,1610612747,LAL,Los Angeles Lakers,21400003,2014-10-28,LAL vs. HOU,L,240,90,...,11.0,25.0,36.0,16,7.0,3,11,32,-18.0,0.373418
1,22014,1610612740,NOP,New Orleans Pelicans,21400001,2014-10-28,NOP vs. ORL,W,240,101,...,26.0,36.0,62.0,20,10.0,17,9,17,17.0,0.425743
2,22014,1610612753,ORL,Orlando Magic,21400001,2014-10-28,ORL @ NOP,L,239,84,...,16.0,40.0,56.0,17,5.0,9,18,25,-17.0,0.404762
3,22014,1610612745,HOU,Houston Rockets,21400003,2014-10-28,HOU @ LAL,W,241,108,...,14.0,33.0,47.0,22,7.0,3,13,30,18.0,0.506849
4,22014,1610612742,DAL,Dallas Mavericks,21400002,2014-10-28,DAL @ SAS,L,239,100,...,9.0,24.0,33.0,17,9.0,3,10,20,-1.0,0.538462

Change SEASON_ID to str type

In [9]:
master_data['SEASON_ID'] = master_data['SEASON_ID'].astype(str)

Combine the opponent team and home team data for each game into 1 row

In [10]:
master_data['HOME_COURT'] = np.where(master_data['MATCHUP'].str.contains('vs.'), 1, 0)      # home team = 1, away team = 0
master_data['BEF_AVG_PTS'] = 0
master_data['BEF_AVG_AST'] = 0
master_data['BEF_AVG_OREB'] = 0
master_data['BEF_AVG_DREB'] = 0
master_data['AFT_AVG_PTS'] = 0
master_data['AFT_AVG_AST'] = 0
master_data['AFT_AVG_OREB'] = 0
master_data['AFT_AVG_DREB'] = 0
master_data['GAME_PLAYED'] = 0
master_data['cPTS'] = 0
master_data['cAST'] = 0
master_data['cOREB'] = 0
master_data['cDREB'] = 0
master_data['cFGA'] = 0
master_data['cTO'] = 0
master_data['cFTA'] = 0
master_data["OFFRATE"] = 0
master_data['DEFRATE'] = 0
master_data['ELO'] = 0

master_data['DIS_PTS'] = 0
master_data['DIS_AST'] = 0
master_data['DIS_OREB'] = 0
master_data['DIS_DREB'] = 0
master_data['DIS_OFFRATE'] = 0
master_data['DIS_DEFRATE'] = 0
master_data['DIS_ELO'] = 0

master_data.head()
master_data_combined = master_data.merge(master_data, on='GAME_ID')
master_data_combined = master_data_combined.drop(master_data_combined[master_data_combined['TEAM_ID_x'] == master_data_combined['TEAM_ID_y']].index)
master_data_combined = master_data_combined.iloc[::2]

master_data_combined.tail()
# master_data_combined['GAME_PLAYED_x']

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
29141,22020,1610612759,SAS,San Antonio Spurs,22000176,2021-01-14,SAS vs. HOU,L,238,105,...,0,0,0,0,0,0,0,0,0,0
29145,22020,1610612755,PHI,Philadelphia 76ers,22000174,2021-01-14,PHI vs. MIA,W,239,125,...,0,0,0,0,0,0,0,0,0,0
29149,22020,1610612757,POR,Portland Trail Blazers,22000178,2021-01-14,POR vs. IND,L,240,87,...,0,0,0,0,0,0,0,0,0,0
29153,22020,1610612743,DEN,Denver Nuggets,22000177,2021-01-14,DEN vs. GSW,W,240,114,...,0,0,0,0,0,0,0,0,0,0
29157,22020,1610612761,TOR,Toronto Raptors,22000175,2021-01-14,TOR vs. CHA,W,242,111,...,0,0,0,0,0,0,0,0,0,0

Change WL from W/L to 1/0

In [11]:
master_data_combined = master_data_combined.replace(['W','L'], [1, 0])

In [12]:
master_data_combined

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
1,22014,1610612747,LAL,Los Angeles Lakers,21400003,2014-10-28,LAL vs. HOU,0,240,90,...,0,0,0,0,0,0,0,0,0,0
5,22014,1610612740,NOP,New Orleans Pelicans,21400001,2014-10-28,NOP vs. ORL,1,240,101,...,0,0,0,0,0,0,0,0,0,0
9,22014,1610612742,DAL,Dallas Mavericks,21400002,2014-10-28,DAL @ SAS,0,239,100,...,0,0,0,0,0,0,0,0,0,0
13,22014,1610612749,MIL,Milwaukee Bucks,21400004,2014-10-29,MIL @ CHA,0,264,106,...,0,0,0,0,0,0,0,0,0,0
17,22014,1610612744,GSW,Golden State Warriors,21400014,2014-10-29,GSW @ SAC,1,239,95,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29141,22020,1610612759,SAS,San Antonio Spurs,22000176,2021-01-14,SAS vs. HOU,0,238,105,...,0,0,0,0,0,0,0,0,0,0
29145,22020,1610612755,PHI,Philadelphia 76ers,22000174,2021-01-14,PHI vs. MIA,1,239,125,...,0,0,0,0,0,0,0,0,0,0
29149,22020,1610612757,POR,Portland Trail Blazers,22000178,2021-01-14,POR vs. IND,0,240,87,...,0,0,0,0,0,0,0,0,0,0
29153,22020,1610612743,DEN,Denver Nuggets,22000177,2021-01-14,DEN vs. GSW,1,240,114,...,0,0,0,0,0,0,0,0,0,0
29157,22020,1610612761,TOR,Toronto Raptors,22000175,2021-01-14,TOR vs. CHA,1,242,111,...,0,0,0,0,0,0,0,0,0,0

Separate into different seasons

In [13]:
season_2014 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22014']
season_2014.index = range(len(season_2014))

season_2015 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22015']
season_2015.index = range(len(season_2015))

season_2016 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22016']
season_2016.index = range(len(season_2016))

season_2017 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22017']
season_2017.index = range(len(season_2017))


season_2018 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22018']
season_2018.index = range(len(season_2018))

season_2019 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22019']
season_2019.index = range(len(season_2019))

season_2020 = master_data_combined[master_data_combined['SEASON_ID_x'] == '22020']
season_2020.index = range(len(season_2020))

season_2014.head()

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22014,1610612747,LAL,Los Angeles Lakers,21400003,2014-10-28,LAL vs. HOU,0,240,90,...,0,0,0,0,0,0,0,0,0,0
1,22014,1610612740,NOP,New Orleans Pelicans,21400001,2014-10-28,NOP vs. ORL,1,240,101,...,0,0,0,0,0,0,0,0,0,0
2,22014,1610612742,DAL,Dallas Mavericks,21400002,2014-10-28,DAL @ SAS,0,239,100,...,0,0,0,0,0,0,0,0,0,0
3,22014,1610612749,MIL,Milwaukee Bucks,21400004,2014-10-29,MIL @ CHA,0,264,106,...,0,0,0,0,0,0,0,0,0,0
4,22014,1610612744,GSW,Golden State Warriors,21400014,2014-10-29,GSW @ SAC,1,239,95,...,0,0,0,0,0,0,0,0,0,0

Only for creating a small sample dataset to test code to save time

In [43]:
season_2014_test = season_2014.loc[:100]

season_2014_test= season_2014_test.sort_values(by = "GAME_DATE_x", ascending = True)
season_2014_test.index = range(len(season_2014_test))
season_2014_test

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22014,1610612747,LAL,Los Angeles Lakers,21400003,2014-10-28,LAL vs. HOU,0,240,90,...,0,0,0,0,0,0,0,0,0,0
1,22014,1610612740,NOP,New Orleans Pelicans,21400001,2014-10-28,NOP vs. ORL,1,240,101,...,0,0,0,0,0,0,0,0,0,0
2,22014,1610612742,DAL,Dallas Mavericks,21400002,2014-10-28,DAL @ SAS,0,239,100,...,0,0,0,0,0,0,0,0,0,0
3,22014,1610612761,TOR,Toronto Raptors,21400008,2014-10-29,TOR vs. ATL,1,239,109,...,0,0,0,0,0,0,0,0,0,0
4,22014,1610612760,OKC,Oklahoma City Thunder,21400015,2014-10-29,OKC @ POR,0,241,89,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,22014,1610612766,CHA,Charlotte Hornets,21400097,2014-11-09,CHA @ LAL,0,241,92,...,0,0,0,0,0,0,0,0,0,0
97,22014,1610612765,DET,Detroit Pistons,21400101,2014-11-10,DET @ CHI,0,241,91,...,0,0,0,0,0,0,0,0,0,0
98,22014,1610612762,UTA,Utah Jazz,21400099,2014-11-10,UTA @ IND,0,240,86,...,0,0,0,0,0,0,0,0,0,0
99,22014,1610612746,LAC,Los Angeles Clippers,21400102,2014-11-10,LAC vs. SAS,0,240,85,...,0,0,0,0,0,0,0,0,0,0
100,22014,1610612739,CLE,Cleveland Cavaliers,21400098,2014-11-10,CLE vs. NOP,1,241,118,...,0,0,0,0,0,0,0,0,0,0

Define which nba season to process

In [45]:
df = season_2020
df.head()

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22020,1610612739,CLE,Cleveland Cavaliers,22000010,2020-12-23,CLE vs. CHA,1,241,121,...,0,0,0,0,0,0,0,0,0,0
1,22020,1610612758,SAC,Sacramento Kings,22000019,2020-12-23,SAC @ DEN,1,265,124,...,0,0,0,0,0,0,0,0,0,0
2,22020,1610612742,DAL,Dallas Mavericks,22000004,2020-12-23,DAL @ PHX,0,241,102,...,0,0,0,0,0,0,0,0,0,0
3,22020,1610612748,MIA,Miami Heat,22000012,2020-12-23,MIA @ ORL,0,241,107,...,0,0,0,0,0,0,0,0,0,0
4,22020,1610612759,SAS,San Antonio Spurs,22000017,2020-12-23,SAS @ MEM,1,240,131,...,0,0,0,0,0,0,0,0,0,0

Function used to update stats in dataset

In [46]:
for i, row in df.iterrows():
#         get the name of both teams
    team_1 = row['TEAM_ABBREVIATION_x']
    team_2 = row['TEAM_ABBREVIATION_y']

#   Team 1
#       increase count of games played 
    nba_teams[team_1]['GAME_PLAYED'] += 1
    df.loc[i,'GAME_PLAYED_x'] = nba_teams[team_1]['GAME_PLAYED']
#       print("Team"+ team_1+ "Game Played is " +str(nba_teams[team_1]['GAME_PLAYED']))

#       add a before avg ratings based on previous games
    nba_teams[team_1]['BEF_AVG_PTS'] = nba_teams[team_1]['AFT_AVG_PTS']
    nba_teams[team_1]['BEF_AVG_AST'] = nba_teams[team_1]['AFT_AVG_AST']
    nba_teams[team_1]['BEF_AVG_OREB'] = nba_teams[team_1]['AFT_AVG_OREB']
    nba_teams[team_1]['BEF_AVG_DREB'] = nba_teams[team_1]['AFT_AVG_DREB']
#       print('-----')
    
    nba_teams[team_1]['cPTS'] += row['PTS_x']
    nba_teams[team_1]['cAST'] += row['AST_x']
    nba_teams[team_1]['cOREB'] += row['OREB_x']
    nba_teams[team_1]['cDREB'] += row['DREB_x']
    nba_teams[team_1]['cFGA'] += row['FGA_x']
    nba_teams[team_1]['cTO'] += row['TOV_x']
    nba_teams[team_1]['cFTA'] += row['FTA_x']
    
    nba_teams[team_1]['AFT_AVG_PTS'] = nba_teams[team_1]['cPTS'] /nba_teams[team_1]["GAME_PLAYED"]
    nba_teams[team_1]['AFT_AVG_AST'] = nba_teams[team_1]['cAST']/nba_teams[team_1]["GAME_PLAYED"]
    nba_teams[team_1]['AFT_AVG_OREB'] = nba_teams[team_1]['cOREB']/nba_teams[team_1]["GAME_PLAYED"]
    nba_teams[team_1]['AFT_AVG_DREB'] = nba_teams[team_1]['cDREB']/nba_teams[team_1]["GAME_PLAYED"]
        
#       calculating disparity between both teams for team 1
    nba_teams[team_1]['DIS_PTS'] = nba_teams[team_1]['BEF_AVG_PTS'] - nba_teams[team_2]['BEF_AVG_PTS']
    nba_teams[team_1]['DIS_AST'] = nba_teams[team_1]['BEF_AVG_AST'] - nba_teams[team_2]['BEF_AVG_AST']
    nba_teams[team_1]['DIS_OREB'] = nba_teams[team_1]['BEF_AVG_OREB'] - nba_teams[team_2]['BEF_AVG_OREB']
    nba_teams[team_1]['DIS_DREB'] = nba_teams[team_1]['BEF_AVG_DREB'] - nba_teams[team_2]['BEF_AVG_DREB']


#   Team 2
#       increase count of games played 
    nba_teams[team_2]['GAME_PLAYED'] += 1
    df.loc[i,'GAME_PLAYED_y'] = nba_teams[team_2]['GAME_PLAYED']   
#       print("Team"+ team_2+ "Game Played is "+ str(nba_teams[team_2]['GAME_PLAYED']))
#       print("------")

#       add a before avg ratings for the previous gams 
    nba_teams[team_2]['BEF_AVG_PTS'] = nba_teams[team_2]['AFT_AVG_PTS']
    nba_teams[team_2]['BEF_AVG_AST'] = nba_teams[team_2]['AFT_AVG_AST']
    nba_teams[team_2]['BEF_AVG_OREB'] = nba_teams[team_2]['AFT_AVG_OREB']
    nba_teams[team_2]['BEF_AVG_DREB'] = nba_teams[team_2]['AFT_AVG_DREB']
    
    nba_teams[team_2]['cPTS'] += row['PTS_y']
    nba_teams[team_2]['cAST'] += row['AST_y']
    nba_teams[team_2]['cOREB'] += row['OREB_y']
    nba_teams[team_2]['cDREB'] += row['DREB_y']
    nba_teams[team_2]['cFGA'] += row['FGA_y']
    nba_teams[team_2]['cTO'] += row['TOV_y']
    nba_teams[team_2]['cFTA'] += row['FTA_y']

    nba_teams[team_2]['AFT_AVG_PTS'] = nba_teams[team_2]['cPTS'] /nba_teams[team_2]["GAME_PLAYED"]
    nba_teams[team_2]['AFT_AVG_AST'] = nba_teams[team_2]['cAST']/nba_teams[team_2]["GAME_PLAYED"]
    nba_teams[team_2]['AFT_AVG_OREB'] = nba_teams[team_2]['cOREB']/nba_teams[team_2]["GAME_PLAYED"]
    nba_teams[team_2]['AFT_AVG_DREB'] = nba_teams[team_2]['cDREB']/nba_teams[team_2]["GAME_PLAYED"]

#       calculating disparity between both teams for team 2
    nba_teams[team_2]['DIS_PTS'] = nba_teams[team_2]['BEF_AVG_PTS'] - nba_teams[team_1]['BEF_AVG_PTS']
    nba_teams[team_2]['DIS_AST'] = nba_teams[team_2]['BEF_AVG_AST'] - nba_teams[team_1]['BEF_AVG_AST']
    nba_teams[team_2]['DIS_OREB'] = nba_teams[team_2]['BEF_AVG_OREB'] - nba_teams[team_1]['BEF_AVG_OREB']
    nba_teams[team_2]['DIS_DREB'] = nba_teams[team_2]['BEF_AVG_DREB'] - nba_teams[team_1]['BEF_AVG_DREB']
    
#   Both Teams    
#       calculating off def ratings
    df.loc[i,"OFFRATE_x"] = nba_teams[team_1]['OFFRATE']
    df.loc[i,'DEFRATE_x'] = nba_teams[team_1]['DEFRATE']
    df.loc[i,"OFFRATE_y"] = nba_teams[team_2]['OFFRATE']
    df.loc[i,'DEFRATE_y'] = nba_teams[team_2]['DEFRATE']       
    df.loc[i,'DIS_OFFRATE_x'] = nba_teams[team_1]['OFFRATE'] - nba_teams[team_2]['OFFRATE']
    df.loc[i,'DIS_DEFRATE_x'] = nba_teams[team_1]['DEFRATE'] - nba_teams[team_2]['DEFRATE']    
    df.loc[i,'DIS_OFFRATE_y'] = nba_teams[team_2]['OFFRATE'] - nba_teams[team_1]['OFFRATE']
    df.loc[i,'DIS_DEFRATE_y'] = nba_teams[team_2]['DEFRATE'] - nba_teams[team_1]['DEFRATE']

    tot_pos_1 = nba_teams[team_1]['cFGA'] - nba_teams[team_1]['cOREB'] + nba_teams[team_1]['cTO'] +(0.4* nba_teams[team_1]['cFTA'])
    off_ratings_1 = nba_teams[team_1]['cPTS']/tot_pos_1
    nba_teams[team_1]['OFFRATE'] = off_ratings_1
    def_ratings_1 = nba_teams[team_2]['cPTS']/tot_pos_1
    nba_teams[team_1]['DEFRATE'] = def_ratings_1

    tot_pos_2 = nba_teams[team_2]['cFGA'] - nba_teams[team_2]['cOREB'] + nba_teams[team_2]['cTO'] +(0.4* nba_teams[team_2]['cFTA'])
    off_ratings_2 = nba_teams[team_2]['cPTS']/tot_pos_2
    nba_teams[team_2]['OFFRATE'] = off_ratings_2
    def_ratings_2 = nba_teams[team_1]['cPTS']/tot_pos_2
    nba_teams[team_2]['DEFRATE'] = def_ratings_2

#       calculating elo for both teams
    df.loc[i, 'ELO_x'] = nba_teams[team_1]['ELO']
    df.loc[i, 'ELO_y'] = nba_teams[team_2]['ELO']
    df.loc[i,'DIS_ELO_x'] = nba_teams[team_1]['ELO'] - nba_teams[team_2]['ELO']
    df.loc[i,'DIS_ELO_y'] = nba_teams[team_2]['ELO'] - nba_teams[team_1]['ELO']                                        
    
    K_FACTOR = 20       # constant value for multiplier

    P_team = 1/(1 + 10 ** ((nba_teams[team_2]['ELO'] - nba_teams[team_1]['ELO'])/400))      # probability of team winning

    if row['WL_x'] == 1:
        elo_change = K_FACTOR * (1 - P_team)        # formula for change in elo if team 1 wins
    else:
        elo_change = K_FACTOR * (0 - P_team)        # formula for change in elo if team 1 loses
    
#       updating elo of teams after the game in the dictionary
    nba_teams[team_1]['ELO'] += elo_change
    nba_teams[team_2]['ELO'] -= elo_change

    
#       update the values for each row
    df.loc[i,'BEF_AVG_PTS_x'] = nba_teams[team_1]['BEF_AVG_PTS']
    df.loc[i,'BEF_AVG_PTS_y'] = nba_teams[team_2]['BEF_AVG_PTS']
    df.loc[i,'BEF_AVG_AST_x'] = nba_teams[team_1]['BEF_AVG_AST']
    df.loc[i,'BEF_AVG_AST_y'] = nba_teams[team_2]['BEF_AVG_AST']
    df.loc[i,'BEF_AVG_OREB_x'] = nba_teams[team_1]['BEF_AVG_OREB']
    df.loc[i,'BEF_AVG_OREB_y'] = nba_teams[team_2]['BEF_AVG_OREB']
    df.loc[i,'BEF_AVG_DREB_x'] = nba_teams[team_1]['BEF_AVG_DREB']
    df.loc[i,'BEF_AVG_DREB_y'] = nba_teams[team_2]['BEF_AVG_DREB']
    
    df.loc[i,'AFT_AVG_PTS_x'] = nba_teams[team_1]['AFT_AVG_PTS']
    df.loc[i,'AFT_AVG_PTS_y'] = nba_teams[team_2]['AFT_AVG_PTS']
    df.loc[i,'AFT_AVG_AST_x'] = nba_teams[team_1]['AFT_AVG_AST']
    df.loc[i,'AFT_AVG_AST_y'] = nba_teams[team_2]['AFT_AVG_AST']
    df.loc[i,'AFT_AVG_OREB_x'] = nba_teams[team_1]['AFT_AVG_OREB']
    df.loc[i,'AFT_AVG_OREB_y'] = nba_teams[team_2]['AFT_AVG_OREB']
    df.loc[i,'AFT_AVG_DREB_x'] = nba_teams[team_1]['AFT_AVG_DREB']
    df.loc[i,'AFT_AVG_DREB_y'] = nba_teams[team_2]['AFT_AVG_DREB']
                        
    df.loc[i,'cPTS_x'] = nba_teams[team_1]['cPTS']
    df.loc[i,'cAST_x'] = nba_teams[team_1]['cAST']
    df.loc[i,'cOREB_x'] = nba_teams[team_1]['cOREB']
    df.loc[i,'cDREB_x'] = nba_teams[team_1]['cDREB']
    df.loc[i,'cFGA_x'] = nba_teams[team_1]['cFGA']
    df.loc[i,'cTO_x'] = nba_teams[team_1]['cTO']
    df.loc[i,'cFTA_x'] = nba_teams[team_1]['cFTA']
    df.loc[i,'cPTS_y'] = nba_teams[team_2]['cPTS']
    df.loc[i,'cAST_y'] = nba_teams[team_2]['cAST']
    df.loc[i,'cOREB_y'] = nba_teams[team_2]['cOREB']
    df.loc[i,'cDREB_y'] = nba_teams[team_2]['cDREB']
    df.loc[i,'cFGA_y'] = nba_teams[team_2]['cFGA']
    df.loc[i,'cTO_y'] = nba_teams[team_2]['cTO']
    df.loc[i,'cFTA_y'] = nba_teams[team_2]['cFTA']

    df.loc[i,'DIS_PTS_x'] = nba_teams[team_1]['DIS_PTS']
    df.loc[i,'DIS_AST_x'] = nba_teams[team_1]['DIS_AST']
    df.loc[i,'DIS_OREB_x'] = nba_teams[team_1]['DIS_OREB']
    df.loc[i,'DIS_DREB_x'] = nba_teams[team_1]['DIS_DREB']

    df.loc[i,'DIS_PTS_y'] = nba_teams[team_2]['DIS_PTS']
    df.loc[i,'DIS_AST_y'] = nba_teams[team_2]['DIS_AST']
    df.loc[i,'DIS_OREB_y'] = nba_teams[team_2]['DIS_OREB']
    df.loc[i,'DIS_DREB_y'] = nba_teams[team_2]['DIS_DREB']

In [47]:
df

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22020,1610612739,CLE,Cleveland Cavaliers,22000010,2020-12-23,CLE vs. CHA,1,241,121,...,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,22020,1610612758,SAC,Sacramento Kings,22000019,2020-12-23,SAC @ DEN,1,265,124,...,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,22020,1610612742,DAL,Dallas Mavericks,22000004,2020-12-23,DAL @ PHX,0,241,102,...,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,22020,1610612748,MIA,Miami Heat,22000012,2020-12-23,MIA @ ORL,0,241,107,...,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,22020,1610612759,SAS,San Antonio Spurs,22000017,2020-12-23,SAS @ MEM,1,240,131,...,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,22020,1610612759,SAS,San Antonio Spurs,22000176,2021-01-14,SAS vs. HOU,0,238,105,...,1.087948,1.375679,1476.427355,0.151515,-2.434343,-0.979798,-2.141414,0.007941,0.451977,-33.707151
165,22020,1610612755,PHI,Philadelphia 76ers,22000174,2021-01-14,PHI vs. MIA,1,239,125,...,1.079509,1.466279,1490.196640,-2.083333,0.944444,-2.750000,-0.888889,-0.010163,0.664037,-38.782458
166,22020,1610612757,POR,Portland Trail Blazers,22000178,2021-01-14,POR vs. IND,0,240,87,...,1.116127,1.002832,1524.393682,-4.000000,3.636364,-0.363636,-1.000000,-0.024807,-0.201049,-2.669028
167,22020,1610612743,DEN,Denver Nuggets,22000177,2021-01-14,DEN vs. GSW,1,240,114,...,1.074953,1.196395,1516.631270,-3.154545,-2.381818,-2.000000,4.172727,-0.078894,0.024534,22.314357
168,22020,1610612761,TOR,Toronto Raptors,22000175,2021-01-14,TOR vs. CHA,1,242,111,...,1.068816,0.909242,1504.479926,-3.933333,5.066667,1.066667,0.016667,-0.022539,-0.243017,54.433301

Omit the first games of all teams

In [ ]:
df.drop(df[(df['GAME_PLAYED_x'] == 1) | (df['GAME_PLAYED_y'] == 1 )].index, inplace=True)

Export DataFrame to csv file

In [48]:
file_name = "nba_season_2020_data.csv"
df.to_csv(file_name,index=False)