In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

Read csv file

In [22]:
df = pd.read_csv("nba_season_2016_data.csv")
df.head()

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22016,1610612759,SAS,San Antonio Spurs,21600003,2016-10-25,SAS @ GSW,1,240,129,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22016,1610612757,POR,Portland Trail Blazers,21600002,2016-10-25,POR vs. UTA,1,239,113,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22016,1610612739,CLE,Cleveland Cavaliers,21600001,2016-10-25,CLE vs. NYK,1,241,117,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22016,1610612758,SAC,Sacramento Kings,21600012,2016-10-26,SAC @ PHX,1,241,113,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22016,1610612738,BOS,Boston Celtics,21600006,2016-10-26,BOS vs. BKN,1,240,122,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df.drop(df[(df['GAME_PLAYED_x'] == 1) | (df['GAME_PLAYED_y'] == 1 )].index, inplace=True)

In [23]:
df.head()

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,OFFRATE_y,DEFRATE_y,ELO_y,DIS_PTS_y,DIS_AST_y,DIS_OREB_y,DIS_DREB_y,DIS_OFFRATE_y,DIS_DEFRATE_y,DIS_ELO_y
0,22016,1610612759,SAS,San Antonio Spurs,21600003,2016-10-25,SAS @ GSW,1,240,129,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22016,1610612757,POR,Portland Trail Blazers,21600002,2016-10-25,POR vs. UTA,1,239,113,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22016,1610612739,CLE,Cleveland Cavaliers,21600001,2016-10-25,CLE vs. NYK,1,241,117,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22016,1610612758,SAC,Sacramento Kings,21600012,2016-10-26,SAC @ PHX,1,241,113,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22016,1610612738,BOS,Boston Celtics,21600006,2016-10-26,BOS vs. BKN,1,240,122,...,0.0,0.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
y = df['PLUS_MINUS_x']
x1 = df['DIS_ELO_x']
x2 = df['HOME_COURT_x']
x3 = df['DIS_OFFRATE_x']
x4 = df['DIS_DEFRATE_x']
x5 = df['DIS_PTS_x']
x6 = df['DIS_AST_x']
x7 = df['DIS_OREB_x']
x8 = df['DIS_DREB_x']

x = np.column_stack((x1, x2, x3, x4, x5, x6, x7, x8))
# x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params

x1     0.037088
x2     3.412770
x3    10.336257
x4     5.442647
x5    -0.004555
x6     0.211357
x7     0.008499
x8    -0.254960
dtype: float64

In [25]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:           PLUS_MINUS_x   R-squared (uncentered):                   0.135
Model:                            OLS   Adj. R-squared (uncentered):              0.129
Method:                 Least Squares   F-statistic:                              23.83
Date:                Wed, 27 Jan 2021   Prob (F-statistic):                    3.35e-34
Time:                        21:25:55   Log-Likelihood:                         -4905.5
No. Observations:                1230   AIC:                                      9827.
Df Residuals:                    1222   BIC:                                      9868.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0371      0.005      8.190      0.000       0.028       0.046
x2             3.4128      0.522      6.540      0.000       2.389       4.437
x3            10.3363      6.836      1.512      0.131      -3.075      23.747
x4             5.4426      2.691      2.023      0.043       0.163      10.722
x5            -0.0046      0.067     -0.068      0.946      -0.137       0.128
x6             0.2114      0.139      1.521      0.128      -0.061       0.484
x7             0.0085      0.190      0.045      0.964      -0.363       0.380
x8            -0.2550      0.154     -1.657      0.098      -0.557       0.047
==============================================================================
Omnibus:                        0.953   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.621   Jarque-Bera (JB):                0.843
Skew:                          -0.014   Prob(JB):                        0.656
Kurtosis:                       3.125   Cond. No.                     1.86e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.86e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""